{% extends "base.html" %}

{% block content %}
    <h1>Contact</h1>
    <p>Request method: {{method}}</p>
    <p>Title(if it exists): {{title}}</p>
    <p>Logged in as: {{request.user}}</p>

  <form action="{% url 'contact' %}" method="POST">
  {% csrf_token %}
  <div>
    <label>
      Title:
      <input type="text" name="title" />
    </label>
  </div>
  <div>
    <label>
      Director:
      <input type="text" name="director" />
    </label>
  </div>
    <button type="submit">Add Movie</button>
  </form>
{% endblock %}

