{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Heru Productions</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>

  <body>
  <div>Heru Productions</div>
  <nav>
  <a href="{% url 'home' %}">Home</a> |
  <a href="{% url 'library' %}">Library</a> |
  <a href="{% url 'contact' %}">Contact</a>
  </nav>
  <img src="{% static 'base/img/herulogo.jpg' %}" alt="Heru Productions Logo">
    {% block content %}
    {% endblock %}
  </body>
</html>